.our-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin: 0 !important;
}

.our-navbar .link {
  font-size: 16px;
  margin: 0 10px;
  color: white;
  padding: 12px 20px;
  transition: background 0.2s;
  cursor: pointer;
  border-radius: 5px;
}

.our-navbar .link:hover {
  background: #00000055;
  text-decoration: none;
}